<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cerca Lavoro di Manutenzione</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h3 class="mb-0">Cerca Lavoro di Manutenzione per ID</h3>
                    </div>
                    <div class="card-body">
                        <!-- Form per cercare il lavoro di manutenzione per ID -->
                        <form th:action="@{/lavoriManutenzione/cercaPerId}" th:object="${lavoriRestauro}"method="post" >
                            <div class="form-group">
                                <label for="id">ID del Lavoro di Manutenzione:</label>
                                <input type="number" id="id" name="id" class="form-control" required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary mt-3">Cerca</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
